@use "config";
@use "sign_in";
@use "home";
@use "base";

main 
{
    padding: 2rem;
}

main #message_list
{
    width: 100%;
    height: 70vh;
    border:solid 0.2rem var(--basic_color);
    overflow-y: scroll;

    section 
    {
        margin: 1rem 0;
    }

    section.active 
    {
        background: rgb(204, 197, 197);
    }

    section.active h2 
    {
        text-align: right;

    }

    p 
    {
        font-size: 2rem;
    }
}

main #message_form 
{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    
    textarea 
    {
        width: 70%;
        resize: none;
        height: 60%;
        outline-color:var(--basic_color) ;
        padding: 0.6rem;
    }

    button 
    {
        width: 15%;
        margin: 0 0.8rem;
        padding: 0.8rem;
        background: rgb(76, 180, 76);
        border:none;
        color: #fff;
    }
}